Frontend/node_modules/**/*
Frontend/.expo/*
Frontend/npm-debug.*
Frontend/*.jks
Frontend/*.p8
Frontend/*.p12
Frontend/*.key
Frontend/*.mobileprovision
Frontend/*.orig.*
Frontend/web-build/
Frontend/web-report/

Backend/node_modules
Backend/build
Backend/npm-debug.log
Backend/.env
Backend/.DS_Store
Backend/docker-compose.yml